<%= render :partial => "layouts/doc_has_changed" %>

<div class="container wal">
  <div class="account">
    <h2 style="text-align:left">Account</h2>
    <%= render :partial => "appraiser_tabs" %>
    <% unless current_user.is_rejected? %>
      <% if current_user.is_appraiser? %>
        <div class="alert alert-info">
          <span class="glyphicon glyphicon-warning-sign"></i>  <strong>NOTICE:</strong> This information is primarily for the private use of ValueThisNow.com and will not be made public. Only the appraiser’s name, image and website will be made public.
        </div>
      <% end %>
        <div class="wel-form account-form">
          <div class="pad">
            <div class="row">
          <%= form_for(@user,  :url => wizard_path, :method => :put, :html => {:multipart => true}) do |f| %>
                  <% if @user.is_appraiser? %>
                  <% end %>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label">* Name</label>
                        </div>
                        <div class="col-md-8">
                          <%= f.text_field :name, :class => "form-control" %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label">* Email</label>
                        </div>
                        <div class="col-md-8">
                          <%= f.email_field :email, :class => "form-control" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= f.fields_for :address do |ff| %>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label" >Address</label>
                        </div>
                        <div class="col-md-8">
                          <%= ff.text_field :address, :class => "form-control", :required => @user.is_appraiser? %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label" >City</label>
                        </div>
                        <div class="col-md-8">
                          <%= ff.text_field :city, :class => "form-control", :required => @user.is_appraiser? %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label" >State/Province</label>
                        </div>
                        <div class="col-md-8">
                          <%= ff.text_field :state, :class => "form-control", :required => @user.is_appraiser? %>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label" >Country</label>
                        </div>
                        <div class="col-md-8" style="text-align:left;">
                          <%= ff.country_select :country, priority_countries: ["United States"], :class => "form-control", :required => @user.is_appraiser? %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label" >Postal Code</label>
                        </div>
                        <div class="col-md-8">
                          <%= ff.text_field :zip, :class => "form-control", :required => @user.is_appraiser? %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="control-label" >Phone</label>
                        </div>
                        <div class="col-md-8">
                          <%= ff.text_field :phone1, :class => "form-control", :required => @user.is_appraiser? %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>

        </div>
        </div>
          <div class="bun2">
            <%= link_to "Previous Step", previous_wizard_path, :class => "btn next-1 bge left-2" %>
            <%= f.submit "Save and Continue", :class => "btn next-1 gre right-2", :id => "btn_submit_avatar"%>
            <div class="clear"></div>
          </div>
              <% end %>
  </div>
  <% end %>
  </div>
</div>