<div class="container wal">
  <div class="account">
    <h2 style="text-align:left">Account</h2>
    <%= render :partial => "appraiser_tabs" %>
    <div class="wel-form account-form notice">
      <%= form_for(@user, :url => wizard_path, :method => :put, :html => {:multipart => true}) do |f| %>
          <div class="pad">
            <div class="row">
              <div class="col-md-12">
                <% if (!@user.address.phone1.nil? && !@user.address.phone1.blank? && !@user.address.phone1.empty?) %>
                    <%
                      msg = @user.is_customer? ? "Please send a text to the cellular number in my profile whenever an apprasial report is completed
        ".html_safe : "Receive notifications by SMS (SMS notifications will be sent to <b>#{@user.address.phone1}</b>)".html_safe
                    %>
                    <div class="checkbox">
                      <label><%= f.check_box :notify_by_sms %> <%= msg %>  </label>
                    </div>
                <% else %>
                    <div class="kln">
                      <p>Please add a phone number in the Contact tab if you would like to have SMS (text message)
                        notifications sent to your phone.</p>
                    </div>
                <% end %>
                <div class="checkbox">
                  <label><%= f.check_box :notify_by_email %>Please email a copy of my appraisal report
                    to <a href="mailto:<%= @user.email %>>" target="_top"><%= @user.email %></a></label>
                </div>
                <% if @user.is_appraiser? %>
                    <div class="form-group">
                      <%= f.label "How often do you want to be notified when a job that is suitable for your skills is available?", class: "col-sm-3" %>
                      <div class="col-sm-9">
                        <%= f.collection_radio_buttons :next_notification_interval_in_minutes, [['0', ' As they arrive'], ['1', ' Once an hour'], ['4', ' Every 6 hours'], ['24', ' Once per day']], :first, :last, item_wrapper_class: 'checkbox inline' %>
                      </div>
                    </div>
                <% end %>
                <div class="checkbox">
                  <label><input type="checkbox" name="reimburse" id="accept_reimburse" value="yes"><font color="#e76311" style="padding-right:10px;">NOTE
                    :</font>Value This Now does not reimburse for email or cellular data charges (if any) associated
                    with notifications you elect to receive. Please click to accept.</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="allow_third_parties" id="accept_allow_third_parties" value="">
                    Interested 3rd parties are welcome to email me to the email address I have on file with
                    ValueThisNow.com.</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="third_parties_not_allowed" id="accept_third_parties_not_allowed" value="">
                    I do not wish to be contacted by a 3rd party regarding interest in my personal property including
                    its sale, insuring it, restoring it, pawning it etc.</label>
                </div>
      </div>
      </div>
      </div>
      <div class="noy">
        * Note, your name, email address and contact information will be kept confidential during this process. You can answer inquires from customers at your personal discretion.
      </div>
      <div class="bun2">
        <%= link_to "Previous Step", wizard_path(:avatar), :class => "btn next-1 bge left-2" %>
        <%= f.submit "Save", :class => "btn next-1 gre right-2", :id => "btn_submit_avatar"%>
        <div class="clear"></div>
      </div>
      <% end %>
    </div>
  </div>
</div>