    <div class="row">
      <div class=" col-md-7 box_right">
        <h2>Appraisals give you more than just<br> a value </h2>
        <p>You can learn a lot from an appraisal. For example, if you have an item to sell, an appraisal will help you get the best price. Insurance companies may require appraisals for property insurance. If you are moving, it's a good idea to get items appraised in case they are damaged during the move and you need to file a damage claim.</p>

        <p>Appraisals are also very valuable for life events such as wills, inheritence and divorce. In addition to learning about the market value of your item, you can also learn about its history. Each piece has a story to tell and our expert appraisers can reveal that story to you. They can also help you find groups and other people that share your interest in the item.<br> <a href="login.html"> Learn about your item with an online appraisal.</a> </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("box_2.png", :alt=> "box2") %>
      </div>

    </div>
    <div class="row big-box">
      <div class="col-sm-6 col-md-4 value">
        <div class="blue-box">
          <p>WHAT DO WE VALUE? 168 <br>
            CATEGORIES OF PERSONAL<br>  PROPERTY.<a href="categories.html">Click here</a><br>
            TO VIEW THE LIST</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 over">
        <div class="blue-box">
          <p>Over 75 expert<br>
            appraisers from around<br> the world.<a href="categories.html">Click here</a><br>
            to learn more!</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="last-box">
          <a href="http://www.xactware.com" target="_blank"><%= image_tag("logo_1.png", :alt=> "logo1") %></a>
          <p>Insurance carriers, ask us about <br>
            processing damage claims through Xactware </p>
        </div>
      </div>
    </div>

    <div class="row my_icon">
      <div class="col-sm-6 col-md-3 gcf">
        <div class="green-box set openvideo">
          <%= image_tag("play.png", :alt=> "play") %>
          <p>Watch Now</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 gcf">
        <div class="green-box set">
          <a href="select.html">
            <%= image_tag("play_2.png", :alt=> "play2") %>
            <p>Appraisal Types </p></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 gcf">
        <div class="green-box set">
          <a href="bulkorder.html">
            <%= image_tag("right.png", :alt=> "right") %>
            <p>Buy in bulk & SAVE!
            </p>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 last ">
        <div class="green-box">
          <a href="#">
            <%= image_tag("phone.png", :alt=> "box2") %>
          </a>
          <p>Need Help? <br>
            Call (844) 938-2583
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
