<div class="section_2">
  <h2>Recent Appraisals</h2>
  <hr>
  <div id="demo">
    <div class="span12">
      <div id="owl-demo" class="owl-carousel">
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
        <div class="item"><span class="gft report-image1"><%= image_tag("Appraisal1.jpg", :alt=> "Appraisal", :size => "105x148") %> </span></div>
      </div>
      <div class="customNavigation">
        <a class="btn prev my_arrow"><%= image_tag("left-arrow.png", :alt=> "Appraisal") %></a>
        <a class="btn next my_arrow"><%= image_tag("right-arrow.png", :alt=> "Appraisal") %></a>
      </div>
    </div>
  </div>
  <div class="last_serip">
    <p> End of Month <strong>20% off</strong> sales on Appraisals use code <strong>CF14458</strong> at checkout</p>
  </div>
</div>